.jumbotron{
    background-color: #800;
    color: whitesmoke;
    height: 90px;
    text-align: center;
}

 .underline{
    text-decoration-line: underline;
    text-decoration-color: #800;
 }

 table, th, td {
    border: 1px solid black;
  }

  .dropdown-menu a:hover {
    background-color: black;
  }

  .btn-outline-success{
    border-color: white;  
    
  }
  .btn-outline-success:hover {
    border-color: white;
    background-color: black; 
  }

.navbar-toggler{
    color: white;
    border-color: white;    
}

.btn-outline{
    border-color: black;  
  }
  .btn-outline:hover {
    
    border-color: #800;
    background-color: black; 
  }